body{
    margin-top:70px;
    font-size:16px;
    background-color: rgb(236, 236, 236);
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family: 'Audiowide';
    font-size: 28px;
    color: #001c87;
  }
  
  p{
    font-family: 'Advent Pro';font-size: 25px !important;
  }
  
  .navbar-default{
    background:#fff;
    border:0;
    font-family: 'Advent Pro';
    font-size: 25px !important;

  }
  
  .navbar-brand{
    font-size:30px;
    color:#000 !important;
    font-weight:bold;
  }
  
  .nav-item{
    font-family: 'Audiowide';
    font-size:18px;
    color:#000 !important;
    
  }

  .nav-link{
    display: block;
    padding: .5rem 1rem;
  }
  
  #showcase h1{
    font-size:50px;
    margin-bottom:20px;
  }
  
  #showcase img{
    width:90%;
    margin-left:60px;
  }
  
  #showcase .showcase-right{
    margin-top:90px;
  }
  
  #testimonial{
    background:#f1f1f1;
    
  }

  .flotante {
    display:scroll;
    position:fixed;
    bottom:30%;
    left:3%;
    
        
}
.flotante:hover {
  border-radius: 30px;
      
}

  #card{                    /* nuevo */
    background:#f1f1f1;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top:40px;
  }
  
  #testimonial p{
    font-size:32px;
    font-family: 'Josefin Sans';
    color:#000;
  }
  
  #testimonial p.customer{
    font-size:20px;
    color:#666;
   
  }
  
  #info1 .info-right{
    margin-top:90px;

  }
  
  #info2{
    margin:20px 0 60px 0;
  }
  
  #contact{
    background:url(../img/image4.png);
    padding:40px;
    color:#fff;
    border-top:#001154 3px solid;
    border-bottom:#001154 3px solid;
  }
  .parallax{
    background: #fff fixed no-repeat 50% 50%;
    z-index: -10;
    background-size: cover;
  
  }
  #parallaxSection{
    background-image: url('../img/image3.png');
    
  }
  #parallaxSection p {
    font-size: 32px;
  }
  
  footer{
    padding:30px;
  }
  